
@model IEnumerable<RetroGamesAuction1.Models.ViewModel.ListViewModel1>

@{
    ViewData["Title"] = "Роли";
}
<h1>
    Cписок ролей
</h1>
<p>
    <a asp-action="Create" id="link1"> Создание роли</a>
</p>
<table id="table" class="table-rounded table-bordered col-sm-8" style="">
    <thead>
        <tr>
            <th>
                ID роли
            </th>
            <th>
                Название роли
            </th>
            <th>
               ID пользователя
            </th>
        
            <th>
                Имя
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.RoleId)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem=>item.RoleName)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.UserId)

                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.UserName)

                </td>
            </tr>
        }
    </tbody>
</table>