@model RetroGamesAuction1.Models.Product

@{
    ViewData["Title"] = "Edit";
   
}
<div class="card" id="card1" style="width: 35rem;"
<h3>Изменить товар</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Product">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduct" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articul" class="control-label"></label>
                <input asp-for="Articul" class="form-control" />
                <span asp-validation-for="Articul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prise" class="control-label"></label>
                <input asp-for="Prise" class="form-control" />
                <span asp-validation-for="Prise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo1" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo1" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile"></label>

                </div>
                <span asp-validation-for="Photo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo2" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo2" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile"></label>

                </div>
                <span asp-validation-for="Photo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo3" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo3" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile"></label>

                </div>
                <span asp-validation-for="Photo3" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-action="Index" id="link1">Вернуться</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



