@model RetroGamesAuction1.Models.Auctionbid
@{

    ViewData["Title"] = "AddBid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Создать</h1>


<hr />
<div class="card" id="card1" style="width: 35rem;"
  <div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="AddBid" asp-controller="Auctionbid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p asp-for="Bid" class="control-label"> </p>
                <p asp-for="Bid" class="control-label"> </p>
                <label asp-for="Bid" class="control-label">Ставлю на 50р больше</label>
                @*<input asp-for="Bid" class="form-control" />
                <span asp-validation-for="Bid" class="text-danger"></span>*@
            </div>
            
            -
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
  </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Auction" asp-route-id="@Model.IdAuction" id="link1">Вернуться</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

