@model RetroGamesAuction1.Models.Auctionbid
@{

    ViewData["Title"] = "AddBid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Создать</h1>


<hr />
<div class="card" id="card1" style="width: 35rem;"
  <div class="row">
    <div class="col-md-4">
        <form asp-action="AddBid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Bid" class="control-label">Поставить на 50р больше последней ставки </label>
                <select multiple class="form-control" asp-for="Bid">
                    <option>на 50рублей</option>

                </select>
            </div>
            

            -
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
  </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Auction" asp-route-id="@Model.IdAuction" id="link1">Вернуться</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

