
@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="DescriptionContainer">
    
    <div class="card col-md-5" id="card1">
        <div class="card-header">Оплата</div>
        <div class="card-body text-$red-800">

            
            <p class="card-text">Оплата принимается по сбп платежам Сбербанк, ВТБ, Тинькоф, Убрир.</p>
            <p class="card-text">В тексте платежа нужно обязательно указать <b>номер ставки</b> </p>
            
            <p class="card-text">Покупатель оплачивает доставку при получении</p>

            <p class="card-text">При отсутствии оплаты 3 дня победа отменяется ,и лот переходит к другому участнику, с его согласия. </p>
            <p class="card-text">контакты: (whatsap, телеграмм)<br />
                а так же номер тел. для оплаты лота:</br><b>8-9I3-756-75-4O</b>
            </p>
        </div>
    </div>
    <div class="card-footer" >
        <a class="nav-link text-light" id="link1" asp-area="" asp-controller="Auctionbid" asp-action="DetailsID">Вернуться</a>
    </div>

</div>

